body {
    background-color: #f5f6fa;
    font-family: "IRANSans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 320px;
}

    .auth-container h2 {
        margin-bottom: 25px;
        color: #333;
    }

    .auth-container input {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .auth-container button {
        width: 100%;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px;
        margin-top: 10px;
        border-radius: 8px;
        cursor: pointer;
    }

        .auth-container button:hover {
            background-color: #0056b3;
        }

    .auth-container a {
        color: #007bff;
        text-decoration: none;
    }

.error {
    color: red;
    font-size: 14px;
}
